.App {
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80px);
}

.left {
    background-color: darkslategrey;
    color: azure;
}

.right {
    background-color: wheat;
    color: firebrick;
}

div.tabs {
    display: block;
    position: absolute;
    left: 10%;
    top: 50%;
}

div.accordion {
    display: block;
    position: absolute;
    left: 60%;
    top: 60%;
}